#!/usr/bin/env bash

# Setup a master dev environment
export COOKBOOK_VERSION="master"

# Setup no roll back on failure
export DISABLE_ROLL_BACK=true

# Setup passwords
NOVA_PW="secrete"
RMQ_PW="secrete"
CHEF_PW="secrete"
