# Setup a master dev environment
export COOKBOOK_VERSION="master"

# Setup for Neutron
export NEUTRON_NAME="neutron"
export NEUTRON_INTERFACE="eth1"
export NEUTRON_ENABLED=True

# Setup no roll back on failure
export DISABLE_ROLL_BACK=true

# Setup passwords
NOVA_PW="secrete"
RMQ_PW="secrete"
CHEF_PW="secrete"
