# Setup no roll back on failure
export DISABLE_ROLL_BACK=true

# Setup a master dev environment
export COOKBOOK_VERSION="master"

# Setup cidrs
export NOVA_INTERFACE_CIDR="127.0.0.0/24"
export MANAGEMENT_INTERFACE_CIDR="127.0.0.0/24"

# Setup passwords
export NOVA_PW="secrete"
export RMQ_PW="secrete"
export CHEF_PW="secrete"

# Set an override for my roles
export RUN_LIST="role[allinone],role[cinder-all]"