# Setup a master dev environment
export COOKBOOK_VERSION="master"

# Setup for Neutron
export NEUTRON_NAME="neutron"
export NEUTRON_INTERFACE="eth1"
export NEUTRON_ENABLED=True

# Setup no roll back on failure
export DISABLE_ROLL_BACK=true

# Setup the network name
export NEUTRON_NETWORK_NAME="raxaioionet"

# Setup passwords
export NOVA_PW="secrete"
export RMQ_PW="secrete"
export CHEF_PW="secrete"

# Set an override for my roles
export RUN_LIST="role[allinone],role[single-network-node],role[cinder-all]"
